/*************************************
*********Mobile first*****************
**************************************/
@media screen and (max-width: 480px) {
body {
 max-width: 100%;
 display: flex;
 flex-direction: column;
 background-image:linear-gradient(120deg, #27ae60, #2ecc71);
}
nav
    {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width:100%;
    background-color: #1abc9c;
    padding:10px;
    font-size: 25px;
    font-weight: bold;
    }
table
     {
         width: 200px;
         height: 150px;
         text-align: center;
         border: 1px solid black;
         border-collapse: collapse;
     }
 th,td
    {
        border: 1px solid rgb(0, 0, 0);
    }
.rules{
      max-width: 100%;
      margin: 0 auto;
    }
#Logo
    {
        float:left;
        width:50px;
        height:50px;
        border-radius: 60px;
    }
h1
   {
       display: block;
       font-size: 20px;

   }
h2{

        max-width: 100%;
        margin: 0 auto;
    }
h3{
   font-size:10px;
   }
.main{

       height: 80px;
       max-width: 100%;
       margin: 0 auto;
 }

#List
     {
         clear:both;
         margin: 0 auto;
         max-width:100%;
     }
#Table{order: 1;}
footer{order: 2;}
}
.first{
  background-color: green;
}
.secound{
  background-color: lightgreen;
}
header{
  margin-bottom: 10px;
  margin-top: 10px;
 background-color:#1abc9c;
}
footer{
  background-color:#1abc9c;
  margin-top: 10px;
}
/***********************************
**********For desktop***************
***********************************/
@media screen and (min-width: 600px){
/*Selectors*/
.main{
  height: 118px;
  max-width: 960px;
  margin: 0 auto;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    background-color:#3498db;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
}
.form{
  max-width: 960px;
  background-color: #3498db;
  margin: 0 auto;
}

.rules{

  max-width: 960px;
  margin: 0 auto;

}
.first{
  background-color: green;
}
.secound{
  background-color: lightgreen;
}

/*Selectors*/

/*teg*/
#Logo{
width: 100px;
height: 100px;
margin: 10px;
float: left;
border-radius: 60px;
}/*teg*/

table{
 width: 500px;
 height: 300px;
 border-collapse: collapse;
 text-align: center;
}

body{
  min-height: 100vh;
  background-image:linear-gradient(120deg, #3498db, #8e44ad);
}
nav{

   display: flex;
   flex-direction: row;
   justify-content: space-around;
   max-width:960px;
   padding: 20px;
   background-color: #3498db;
   font-size: 40px;

}
header{
 background-color:#2980b9;
}
th, td{
  border: 1px solid black;
}
h1
    {
        display: block;
        font-size: 3em;
    }
h3{
    max-width: 960px;
    margin:0 auto;

}
footer{
  background-image:linear-gradient(120deg, #2980b9, #9b59b6);
  padding-bottom: 10px;
  border-left: 4px solid rgb(33, 31, 31);
  padding: 20px 0;
  margin-right: 10px;
}
}
